#root {
  max-width: 1280px; /* menyambung body index.css */
  margin: 0 auto; /* agar tetap di tengah ketika zoom out */
  padding: 2rem;
  text-align: center;
}

.container-data {
  border: 1px solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  padding: 1rem 1rem 1rem 1rem;
}
